---
import Layout from '../layouts/Layout.astro';
import '../styles/main.scss';
---

<Layout title="Multiplication">
    <h1>Multiplication</h1>
    <div class="input-container">
        <input type="number" id="number1" min="0" required value="4">
        <span class="operator">×</span>
        <input type="number" id="number2" min="0" required value="3">
        <button id="exchange" class="exchange-button">⇄</button>
    </div>
    <svg id="multiplication" style="width: 100%; height: calc(100vh - 80px);"></svg>
</Layout>

<script>
    import { initializeMultiplication } from '../lib/multiplication';
    document.addEventListener('DOMContentLoaded', initializeMultiplication);
</script>
